/* ------------------------ ADMIN AREA ------------------------ */

.ub-confirmoui{
  background-color:aquamarine;
}
.ub-confirmnon{
  background-color: crimson;
}
.ub-confirmmanuel{
  background-color: #e2d676;
}

/* ------------------------ SEARCH AREA ------------------------ */

.ub-choixnbpersonnes{
  padding-top: 20px;
}
.ub-recherche{
    width: 300px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 12pt;
    font-weight: 600;
}

/* ------------------------ RESULTS AREA ------------------------ */

.ub-rchambre{
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
    width: 200px;
    //height: 450px;
    height: auto;
    padding: 30px;
    background-color: #ededed;
    vertical-align: top;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
}
.ub-titre{
    margin-top: 10px;
    font-weight: 800;
    font-size: 18pt;
}
.ub-tarif{
    font-weight: 600;
}
.ub-infos, .ub-tarif{
    font-size: 16pt;
}


.ub-resaArea{
  display: block;
  margin: auto;
  width: 100%;
  max-width: 800px;
  height: auto;
  min-height: 600px;
  text-align: center;
}
.ub-chambreResa{
  display: block;
  float: left;
  width: 50%;
  //height: auto;
  border-right: 2px solid #d1d1d1;
  margin-top: 20px;
  padding-bottom: 80px;
  text-align: center;
}
.ub-formResa{
  display: block;
  float: left;
  width: 50%;
  margin-left: 0px;
  text-align: center;
  margin-top: 40px;
}


.ub-option{
  border-top: 1px solid #d1d1d1;
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
}
.ub-infosup{
  border-top: 1px solid #d1d1d1;
  margin-top: 10px;
  padding-top: 20px;
  width: 100%;
}
.ub-infosupResa{
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
}
.ub-optionResa{
  margin-top: 10px;
  padding-top: 20px;
  width: 100%;
}
div.ub-liste img{
  background-color: transparent !important;
}
div.ub-liste{
  width: auto;
  text-align: center;
  display: block;
  margin: 0px !important;
  padding: 0px !important;
}
.ub-icon{
    //padding-right: 10px;
    display: inline-block !important;
    background-color: transparent !important;
    width: 25px;
    height: 25px;
}

.ub-date{
    color: #ffffff;
    background-color: #333333;
    border: none;
    height: 30px;
    text-align: center;
    //padding-left: 30px;
    font-size: 12pt;
}

.ub-nbpersonnes{
    color: #ffffff !important;
    background-color: #333333 !important;
    border: none;
    height: 30px;
    text-align: center;
    padding-left: 10px;
    width: 60px;
}
.ub-room{
    color: #ffffff !important;
    background-color: #333333 !important;
    border: none;
    height: 30px;
    text-align: center;
    padding-left: 10px;
    width: 60px;
}

.ub-nbnuits{
    color: #ffffff !important;
    background-color: #333333 !important;
    border: none;
    height: 30px;
    text-align: center;
    padding-left: 10px;
    width: 60px;
}

.ub-resaImg{
    filter: invert(100%);
    width: 20px;
    height: 20px;
}

.ub-resaImgList{
    width: 20px;
    height: 20px;
}

.ub-infoscomp{
  width: 400px !important;
  font-size: 9pt;
}

.ub-supp{
  width: 30px !important;
}

.ub-infosupGeneral{
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
}

/* ------------------------ GLOBAL ------------------------ */

.ub-champs{
  width: 250px !important;
}
.ub-photo{
    width: 140px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
}
div.ub-liste a, div.ub-liste a:hover, div.ub-liste a:visited, div.ub-liste a:active{
    text-decoration:none !important;
    color: #000000 !important;
}

/* ------------------------ BTNS ------------------------ */

.ub-btnrecherche{
    color: #ffffff !important;
    background-color: #333333 !important;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-weight: 600;
}
.ub-btnreserve{
    color: #ffffff;
    background-color: #57af46 !important;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-weight: 600;
}
.ub-retour{
    font-weight: 600;
    color: #ffffff !important;
    text-decoration: none !important;
    background-color: #333333;
    display: block;
    padding: 8px;
    cursor: pointer;
    width: 120px;
    border-radius: 5px;
}
.ub-deletePast{
  color: #ffffff;
  background-color: #aa0200 !important;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
}
.ub-add{
  color: #ffffff;
  background-color: #57af46 !important;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
}

/* ------------------------ ERRORS ------------------------ */

.ub-messageRoom{
    text-align: center;
    width: 100%;
    color:darkgreen;
    font-size: 15pt;
}
.ub-messageResa{
   text-align: center;
    width: 100%;
    color:darkgreen;
    font-size: 15pt;
}
.ub-messageRoomError{
    text-align: center;
    width: 100%;
    color: crimson;
    font-size: 15pt;
}
.ub-messageResaError{
   text-align: center;
    width: 100%;
    color: crimson;
    font-size: 15pt;
}

/* ------------------------ TABLEAUX ------------------------ */

div.ub-Tab tr:nth-child(even) {
    background-color: #f2f2f2;

}
div.ub-Tab th {
    padding: 10px;
    background-color: #333333;
    color: white;
}
div.ub-Tab td{
    height: 30px;
    text-align: center;
}
.ub-yesteday{
  background-color: #f94a4a !important;
}
.ub-today{
  background-color: #8dd888 !important;
}
.ub-tomorrow{
  background-color: #f2f2f2 !important;
}
div.ub-Tab tr:hover {
    background-color: #717171 !important;
    color: white !important;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-clear-button {
    display: none;
}





.ub-calendar
{
width:100%;
height:100%;
max-width: 1200px;
border-collapse: collapse;
//background-color:#F7F8F5;
}
.ub-calendar-case
{
font-size:large;
text-align:center;
border:1px solid grey;
font-weight:bold;
background-color:white;
vertical-align: text-top;
width: 100px;
height: 50px;
}
#ub-cal-cont
{
height:80%;
width:80%;
margin-left:auto;
margin-right:auto;
}
.ub-calendar-row{
height: 100px;
}
#ub-cal-pre{
  float:left;
  cursor:pointer;
  width: 40px;
  margin-top: 330px;
}
#ub-cal-post{
  float:right;
  cursor:pointer;
  width: 40px;
  margin-top: 330px;
  margin-right: 20px;
}
.ub-calendar-case-today{
  border:10px solid grey;
}

.ub-resa-case{
  //border-top: 1px solid #000000;
  font-weight: normal;
  margin-top: 5px;
  font-weight: normal;
  font-size: small;
  display: inline-block;
}
.ub-arrival{
  background-color: #b1eaaf;
  width: 100%;
}
.ub-current{
  background-color: #b1eaaf;
  width: auto;
  height: 20px;
  text-align: center !important;
  margin-right: 5px;
  padding-right: 5px;
}
.ub-departure{
  background-color: #ffc5bf;
  width: 100%;
}
.ub-arrival-chambre{
  display: inline;
  float: left;
  margin-left: 5px;
  font-weight: bold;
  //border: 10px solid #ffffff;
  //width: 20px;
  //height: 20px;
}
.ub-arrival-name{
  display: inline;

}
.ub-tab-resa{
  margin-top: 40px;
}
.ub-supp-row{
  background-color: #fff !important;
}
