.choixnbpersonnes{
  padding-top: 20px;
}

.champs{
  width: 250px !important;
}

.recherche{
    width: 300px;
    display: block;

    text-align: center;
    margin-left: auto;
    margin-right: auto;

    font-size: 12pt;
    font-weight: 600;

}

.liste{
    text-align: center;
}

.rchambre{
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
    width: 200px;
    //height: 450px;
    height: auto;
    padding: 30px;
    background-color: #ededed;
    vertical-align: top;
}

.photo{
    width: 140px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
}

.titre{
    margin-top: 10px;
    font-weight: 800;
    font-size: 18pt;
}



.tarif{
    font-weight: 600;

}

.infos, .tarif{
    font-size: 16pt;


}

a, a:hover, a:visited, a:active{
    text-decoration:none;
    color: #000000;
}

.btn{
    color: #ffffff;
    background-color: #333333;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-weight: 600;
}

.icon{
    //padding-right: 10px;
    display: inline-block !important;
    width: 25px;
    height: 25px;
}

.date{
    color: #ffffff;
    background-color: #333333;
    border: none;
    height: 30px;
    text-align: center;
    //padding-left: 30px;
    font-size: 12pt;
}

.nbpersonnes{
    color: #ffffff;
    background-color: #333333;
    border: none;
    height: 30px;
    text-align: center;
    padding-left: 10px;
}

.retour{
    font-weight: 600;
    text-decoration: none;
    background-color: #333333;
    display: block;
    padding: 15px;
    width: 120px;
}


a.retour, a:hover.retour, a:visited.retour, a:active.retour{
    color: #ffffff !important;
}

.btndeco{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
}

a.btndeco, a:hover.btndeco, a:visited.btndeco, a:active.btndeco{

    color: #ffffff !important;

}

tr:nth-child(even) {
    background-color: #f2f2f2;

}
tr:hover {
    background-color: #717171;
    color: white;
}
th {
    padding: 10px;
    background-color: #333333;
    color: white;
}
td{
    height: 30px;
    text-align: center;
}


.confirmoui{
    background-color:aquamarine;
}

.confirmnon{
    background-color: crimson;
}
.confirmmanuel{
  background-color: #e2d676;
}

.resaImg{
    filter: invert(100%);
    width: 20px;
    height: 20px;
}

.resaImgList{
  width: 20px;
  height: 20px;
}

.messageRoom{
    text-align: center;
    width: 100%;
    color:darkgreen;
    font-size: 15pt;
}
.messageResa{
   text-align: center;
    width: 100%;
    color:darkgreen;
    font-size: 15pt;
}
.messageRoomError{
    text-align: center;
    width: 100%;
    color: crimson;
    font-size: 15pt;
}
.messageResaError{
   text-align: center;
    width: 100%;
    color: crimson;
    font-size: 15pt;
}

.debug{
    position: absolute;
    top: 50px;
    text-align: center;
    width: 100%;
    color: crimson;
    font-size: 20pt;
}

.resaArea{
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

.chambreResa{
  display: block;
  float: left;
  width: 50%;
  height: auto;
  border-right: 2px solid #d1d1d1;
  //padding-top: 20px;
  margin-top: 20px;
  //padding-top: 50px;
  padding-bottom: 80px;
  text-align: center;
}

.option{
  border-top: 1px solid #d1d1d1;
  margin-top: 10px;
  padding-top: 20px;
  width: 100%;
}

.infosup{
  border-top: 1px solid #d1d1d1;
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
}
.infosupResa{
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
}

.optionResa{
  margin-top: 10px;
  padding-top: 20px;
  width: 100%;
}

.formResa{
  display: block;
  float: left;
  width: 50%;
  margin-left: 0px;
  text-align: center;
}

.nbnuits{
  margin-top: 20px;
  width: 30px !important;
}

.infoscomp{
  width: 400px !important;
}

.supp{
  width: 30px !important;
}

.suppdiverstext{
  width: 200px !important;
}

.infosupGeneral{
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
}

.infoscomp{
  font-size: 9pt;
}
